<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="alert alert-danger">
                
                <mat-icon routerLink="/back">arrow_circle_left</mat-icon>
                <div class="oop">
                </div>
                <h1 class="text-center">Sorry We diddnt find what you were looking for</h1>
                <h3 class="mt-5 text-center">Please check <span appColor>The GitHub userName </span> and try again</h3>
            </div>
        </div>
       
    </div>
</div>
